.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.bg-white {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  float: none;
  clear: none;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #fff;
}

.bg-white.testimonails {
  display: none;
}

.bg-alternate {
  display: block;
  width: 100%;
  min-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
  background-clip: border-box;
}

.bg-alternate.navsection {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  bottom: auto;
  z-index: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 86px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #003e6b;
}

.bg-alternate.primary1 {
  margin-bottom: 0px;
  padding-bottom: 20px;
  background-color: #003e6b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#003e6b), to(#0a558c));
  background-image: linear-gradient(180deg, #003e6b, #0a558c);
}

.bg-footer {
  background-color: #202e44;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.footer.bg-footer {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 140px 20px 0px;
  background-color: #003e6b;
  background-image: url('../images/Footer.svg');
  background-position: 0px 0px;
  background-size: 410px;
  background-clip: border-box;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  width: 60px;
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #b6e0fe;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #dceefb;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.bg-placeholder {
  width: 100%;
  max-height: none;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 48px;
  float: left;
  clear: none;
  background-color: #dbe1eb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dbe1eb), to(#dbe1eb));
  background-image: linear-gradient(180deg, #dbe1eb, #dbe1eb);
}

.bg-placeholder.onleftside {
  margin-right: 0px;
  margin-left: -46px;
  padding-right: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-image: none;
}

.bg-placeholder.onleftside.candoplaceholder {
  background-color: transparent;
}

.bg-placeholder.candoplaceholder {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  border: 0px none #dbe1eb;
  background-color: transparent;
  background-image: none;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.bg-placeholder.heroplaceholder {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border: 1px none #003e6b;
  border-radius: 8px;
  background-color: transparent;
  background-image: none;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.div-block.paradiv {
  display: block;
  width: 60%;
  height: 100%;
  padding-right: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block.sectioncontentdiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 40px;
  padding-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.div-block.pricingcolumn {
  width: 100%;
  min-height: 828px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0px solid #000;
  border-radius: 15px;
  background-color: #fff;
}

.div-block.pricingcolumn.subscriptioncolumn {
  background-color: #dceefb;
}

.div-block.releasenoteslegenddiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: transparent;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading {
  clear: none;
  font-family: Inter, sans-serif;
  color: #102a43;
}

.heading.pageheader {
  width: auto;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
  color: #b6e0fe;
  font-size: 3.7rem;
  line-height: 4rem;
  font-weight: 500;
  text-align: left;
}

.heading.pageheader.primary1 {
  color: #003e6b;
  font-size: 1.875rem;
  text-align: left;
}

.heading.pageheader.primary1.pricing {
  margin-bottom: 90px;
  text-align: center;
}

.heading.pageheader.primary1.releasenotes {
  margin-bottom: 60px;
  background-color: transparent;
  text-align: center;
}

.heading.pageheader.primary1.releasenotes.terms {
  margin-bottom: 20px;
}

.heading.pageheader.primary1.releasenotes.privacy {
  margin-bottom: 40px;
}

.heading.featureheader {
  margin-top: 40px;
  font-size: 18px;
  line-height: 8px;
  font-weight: 500;
}

.heading.featureheader.primary1 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #003e6b;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.heading.featureheader.neutral1 {
  margin-bottom: 20px;
  color: #334e68;
  font-size: 1.6rem;
  line-height: 1.625rem;
  font-weight: 600;
}

.heading.featureheader.neutral1.featuresgrid {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

.text-block {
  width: 96%;
  margin-bottom: 20px;
  border-radius: 0px;
  font-family: Inter, sans-serif;
  color: #334e68;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.text-block.primary1 {
  color: #003e6b;
  font-size: 1rem;
  line-height: 1.38rem;
  font-weight: 400;
}

.text-block.primary1.herobody {
  margin-top: 40px;
  color: #84c5f4;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-block.neutral1 {
  width: 100%;
  color: #102a43;
  font-size: 1.125rem;
  line-height: 1.625rem;
}

.text-block.pricingpertransaction {
  margin-bottom: 0px;
  font-size: 0.875rem;
  line-height: 1rem;
  text-align: center;
}

.div-section-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-section-header.trustedbydiv {
  width: 1110px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.div-section-header.collecting {
  margin-top: 60px;
  margin-bottom: 60px;
}

.body {
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #f0f4f8;
  font-family: Inter, sans-serif;
}

.body.releasenotes {
  background-image: url('../images/Payzip-Wallpaper-Tile-80.svg');
  background-position: 0px 0px;
  background-size: 410px;
}

.nav-link-2 {
  font-family: Inter, sans-serif;
  color: #dceefb;
  font-size: 1.125rem;
  font-weight: 500;
}

.nav-link-3 {
  font-family: Inter, sans-serif;
}

.nav-link-3.primary1 {
  display: none;
  color: #003e6b;
}

.nav-link-4 {
  font-family: Inter, sans-serif;
}

.nav-link-4.primary1 {
  min-width: 110px;
  color: #dceefb;
  font-size: 1.125rem;
  font-weight: 500;
}

.nav-link-4.primary1 {
  min-width: 110px;
  color: #dceefb;
  font-size: 1.125rem;
  font-weight: 500;
}

.nav-link-5 {
  font-family: Inter, sans-serif;
}

.nav-link-5.primary1 {
  display: inline;
  color: #003e6b;
}

.text-block-2 {
  font-family: Inter, sans-serif;
}

.text-block-2.secondarycolour {
  color: #186faf;
}

.text-block-2.secondarycolour.tertiaryheading {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #102a43;
  font-weight: 500;
  text-align: center;
}

.text-block-2.secondarycolour.tertiaryheading.neutral1 {
  margin-bottom: 0px;
  font-size: 1.125rem;
}

.text-block-2.secondarycolour.tertiaryheading.neutral1.organisationname {
  font-size: 0.875rem;
}

.logochain {
  display: inline-block;
  max-height: 90px;
  max-width: 150px;
  margin-right: auto;
  background-color: transparent;
}

.logochain.logochainend {
  margin-right: 0px;
  border: 1px none #b6e0fe;
}

.div-block-3 {
  display: block;
  min-width: 100px;
  margin-right: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.div-block-3.logodiv {
  position: static;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.button {
  min-width: 90px;
  margin-top: 11px;
  border-radius: 5px;
  background-color: #84c5f4;
  font-family: Inter, sans-serif;
  color: #003e6b;
  font-size: 1.125rem;
  font-weight: 500;
}

.button.greatforbutton {
  width: 300px;
  height: 50px;
  margin-top: 0px;
  padding-top: 13px;
  border-radius: 9px;
  background-color: #003e6b;
  color: #dceefb;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
}

.image {
  width: 118px;
  height: 26px;
  margin-top: 16px;
}

.greatfordiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.button-2 {
  border: 1px solid #003e6b;
  border-radius: 5px;
  background-color: #f0f4f8;
  font-family: Inter, sans-serif;
  color: #003e6b;
  font-weight: 500;
  background-clip: border-box;
}

.button-2.startnow {
  width: 300px;
  height: 50px;
  min-height: 50px;
  min-width: 90px;
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 9px;
  background-color: #003e6b;
  color: #dceefb;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
}

.button-2.startnow.bottombutton {
  margin-top: 0px;
  margin-bottom: 0px;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.div-block-6.bottompricingbutton {
  margin-top: 40px;
}

.div-block-7 {
  width: 45%;
  text-align: left;
}

.div-block-7.rightbutton {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 40px;
  text-align: center;
}

.div-block-9 {
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.div-block-9.threeconvincers {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.div-block-9.youcan {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.div-block-9.herosection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1160px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 56px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-9.herosection.releasenotes {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-style: none;
  border-width: 1px;
  border-color: #000;
  background-color: transparent;
  opacity: 1;
  background-clip: border-box;
}

.div-block-9.herosection.collected {
  margin-bottom: 40px;
  padding-top: 0px;
}

.div-block-9.herosection.pricinghero {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.div-block-9.copyrightdiv {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 140px;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.div-block-9.startcollecting {
  margin-top: 60px;
}

.div-block-9.featuresgrid {
  padding-top: 0px;
}

.image-2 {
  width: 17%;
  max-width: 50%;
  margin-top: 20px;
  margin-right: 20px;
}

.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1110px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Inter, sans-serif;
  color: #b6e0fe;
  font-size: 12px;
  text-align: center;
}

.brand {
  width: 43%;
  text-align: left;
}

.brand.w--current {
  width: 43%;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 43%;
  max-width: none;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: right;
}

.grid {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-top: 0px;
  justify-items: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-flow: row;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.image-3 {
  max-width: 80px;
}

.grid-2 {
  max-width: none;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-flow: row;
  grid-column-gap: 50px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.grid-2.pricingcolumnsgrid {
  width: 850px;
  max-width: 1000px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.grid-2.releasenoteslegend {
  width: auto;
  height: auto;
  justify-items: start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-3 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-4 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.image-4 {
  width: 80px;
  max-width: 80px;
}

.pricingcolumnheader {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Inter, sans-serif;
  color: #102a43;
  font-size: 2.125rem;
  line-height: 2.75rem;
  font-weight: 300;
  text-align: center;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-2 {
  font-weight: 500;
}

.heading-2.pricingpercentage {
  display: inline-block;
  margin-top: 0px;
  color: #102a43;
  font-size: 2.25rem;
  line-height: 2.75rem;
}

.heading-2.comingsoon {
  margin-top: 280px;
  color: #003e6b;
  font-size: 1.5rem;
  font-weight: 300;
}

.pricingtransactionfee {
  position: static;
  display: inline-block;
  margin-top: 0px;
  margin-left: 10px;
  color: #102a43;
  font-size: 1.3125rem;
  line-height: 2.125rem;
  font-weight: 300;
}

.pricingdivlightborders {
  width: 100%;
  margin-top: 0px;
}

.pricingplanfeaturesright {
  width: 100%;
  text-align: right;
}

.pricingplanfeaturesleft {
  width: 100%;
  text-align: left;
}

.grid-5 {
  margin-top: 0px;
  padding-right: 32px;
  padding-left: 32px;
  grid-row-gap: 16px;
  -ms-grid-columns: 2.25fr 1fr;
  grid-template-columns: 2.25fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.pricingplanfeaturetext {
  color: #334e68;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.pricingplanfeaturevalue {
  color: #102a43;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.image-6 {
  width: 1.5rem;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-18 {
  display: none;
}

.div-block-19 {
  display: block;
}

.releasenoteslegendicon {
  max-width: 4rem;
  margin-right: 20px;
}

.releasecontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 20px 40px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 10px;
}

.releasecontainer.releasewhite {
  background-color: #fff;
}

.releasecontainer.releasewhite.terms {
  margin-top: 0px;
}

.releasecontainer.releasewhite.privacy {
  margin-top: 0px;
}

.releasecontainer.releaseblue {
  background-color: #fff;
}

.releaseheading {
  margin-bottom: 0px;
  color: #102a43;
  font-size: 1.5rem;
  font-weight: 400;
}

.releaseheading.termsconditionsclauseheading {
  margin-top: 0px;
  font-size: 1.25rem;
  font-weight: 400;
}

.releasedatetext {
  color: #102a43;
  font-size: 0.875rem;
  font-weight: 300;
}

.releasesectionheading {
  margin-top: 60px;
  margin-bottom: 0px;
  color: #102a43;
  font-size: 1.5rem;
  font-weight: 300;
}

.releaseitemdiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.releasenoteitemcategory {
  max-width: 2.5rem;
  margin-left: 0px;
}

.releasenoteitemdescription {
  display: inline-block;
  margin-left: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #102a43;
  font-size: 1rem;
}

.releasenoteitemdescription.termsconditionstextblock {
  margin-left: 0px;
  line-height: 1.5rem;
}

.releasenoteitemgrid {
  margin-top: 20px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.releasenoteitemgrid.termsconditionsgrid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.list-item-2 {
  display: none;
}

.bold-text {
  font-weight: 600;
}

.termsconditionslink {
  position: static;
  margin-bottom: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-size: 1rem;
  font-weight: 300;
}

.list-2 {
  padding-left: 80px;
  font-size: 1.25rem;
  line-height: 1.5rem;
  list-style-type: lower-roman;
}

.list-2.privacypolicy {
  list-style-type: disc;
}

.termsconditionsclausebullettext {
  margin-bottom: 10px;
  color: #102a43;
  font-size: 1rem;
}

.releaselegend {
  font-size: 1rem;
}

.navbargroupdiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 16%;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: center;
}

.text-block-5 {
  margin-bottom: 20px;
  color: #102a43;
  font-size: 1.25rem;
  line-height: 1.8rem;
  font-style: normal;
}

.text-block-5.pullquote {
  margin-top: 60px;
  margin-bottom: 10px;
  padding-right: 0px;
  padding-left: 0px;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 500;
}

.text-block-5.pullquoteauthor {
  margin-bottom: 60px;
  font-style: italic;
}

.text-block-5.italics {
  font-style: italic;
}

.text-block-6 {
  font-size: 1.125rem;
  line-height: 1.625rem;
}

.list-3 {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  padding-left: 0px;
  color: #102a43;
  font-size: 1.132rem;
  line-height: 1.625rem;
  list-style-type: none;
}

.list-item-4 {
  margin-bottom: 12px;
  padding-left: 42px;
  background-image: url('../images/check-circle.svg');
  background-position: 0% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 1.25rem;
}

.bold-text-2 {
  color: #62b0e8;
}

.text-block-7 {
  padding: 20px;
  border-radius: 10px;
  background-color: #87eaf2;
  font-family: Inter, sans-serif;
  color: #003e6b;
  font-size: 1.5rem;
}

.text-span {
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .bg-white {
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
  }

  .bg-alternate {
    width: 100%;
  }

  .bg-alternate.navsection {
    width: 100%;
    margin-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .footer.bg-footer {
    width: 100vw;
    padding-top: 60px;
  }

  .footer-flex-container {
    margin-bottom: 0px;
  }

  .footer-heading {
    margin-bottom: 10px;
  }

  .bg-placeholder.candoplaceholder {
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
  }

  .bg-placeholder.heroplaceholder {
    width: 100%;
    height: auto;
  }

  .div-block.paradiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block.sectioncontentdiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 0px;
    padding-right: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: center;
  }

  .div-block.releasenoteslegenddiv {
    text-align: left;
  }

  .navbar {
    width: 100%;
    margin-top: 0px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .heading.pageheader {
    font-size: 3.7rem;
    line-height: 4rem;
  }

  .heading.pageheader.primary1 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .heading.pageheader.primary1.pricing {
    margin-bottom: 40px;
    font-size: 1.5rem;
  }

  .heading.pageheader.primary1.releasenotes {
    margin-bottom: 40px;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .heading.featureheader.primary1 {
    font-size: 1rem;
  }

  .heading.featureheader.neutral1 {
    margin-bottom: 10px;
    font-size: 1rem;
  }

  .heading.featureheader.neutral1.featuresgrid {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.25rem;
  }

  .text-block.primary1 {
    width: 100%;
    font-size: 0.875rem;
  }

  .text-block.primary1.herobody {
    margin-top: 20px;
  }

  .text-block.neutral1 {
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .div-section-header.collecting {
    width: 100vw;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .body {
    font-family: Inter, sans-serif;
  }

  .nav-link-4.primary1 {
    min-width: 90px;
  }

  .nav-link-4.primary1 {
    min-width: 90px;
  }

  .nav-link-5.primary1 {
    display: none;
  }

  .button-2.startnow {
    position: static;
    width: 270px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 9px;
  }

  .button-2.startnow.bottombutton {
    margin-bottom: 40px;
    border-radius: 13px;
  }

  .div-block-5 {
    width: 50%;
    height: auto;
    min-height: 0%;
    padding-right: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .div-block-6 {
    width: 100%;
    margin-top: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: center;
  }

  .div-block-7 {
    width: 50%;
    padding-right: 0px;
    padding-left: 0px;
    text-align: left;
  }

  .div-block-7.rightbutton {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
  }

  .div-block-9 {
    width: 100%;
  }

  .div-block-9.threeconvincers {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .div-block-9.youcan {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .div-block-9.herosection {
    width: 100%;
    max-width: 768px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .div-block-9.herosection.releasenotes {
    padding-top: 40px;
  }

  .div-block-9.herosection.collected {
    margin-bottom: 20px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-block-9.herosection.pricinghero {
    padding-top: 40px;
  }

  .div-block-9.herosection.terms {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-9.herosection.privacy {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-9.copyrightdiv {
    height: 100px;
  }

  .div-block-9.startcollecting {
    margin-top: 40px;
  }

  .image-2 {
    width: 17%;
    margin-top: 10px;
  }

  .copyright {
    width: 100%;
  }

  .brand {
    width: 25%;
    padding-left: 20px;
  }

  .brand.w--current {
    width: 25%;
  }

  .nav-menu {
    width: 30%;
    padding-right: 20px;
  }

  .grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
  }

  .grid-2 {
    margin-right: 20px;
    margin-left: 20px;
    padding: 0px;
  }

  .grid-2.pricingcolumnsgrid {
    width: 700px;
    grid-column-gap: 30px;
  }

  .grid-2.releasenoteslegend {
    margin-right: 0px;
    margin-left: 0px;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
  }

  .grid-3 {
    margin-right: 20px;
    margin-left: 20px;
    grid-row-gap: 19px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .grid-4 {
    margin-right: 20px;
    margin-left: 20px;
  }

  .pricingcolumnheader {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .div-block-14 {
    margin-top: 40px;
  }

  .pricingdivlightborders {
    margin-top: 10px;
  }

  .pricingplanfeaturetext {
    font-size: 1rem;
  }

  .pricingplanfeaturevalue {
    font-size: 1rem;
  }

  .releasenoteslegendicon {
    max-width: 3rem;
    font-size: 1rem;
  }

  .releasecontainer.releasewhite {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .releasecontainer.releasewhite.terms {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .releasecontainer.releaseblue {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .releaseheading {
    margin-bottom: 0px;
    font-weight: 400;
  }

  .releaseheading.termsconditionsclauseheading {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .releasedatetext {
    font-weight: 300;
  }

  .releasesectionheading {
    margin-top: 20px;
    font-size: 1.25rem;
  }

  .releasenoteitemgrid {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .list-2 {
    padding-left: 60px;
  }

  .releaselegend {
    font-size: 0.875rem;
    font-weight: 400;
  }

  .navbargroupdiv {
    width: 45%;
  }

  .text-block-5 {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }

  .text-block-5.pullquote {
    margin-top: 40px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .text-block-5.pullquoteauthor {
    margin-bottom: 40px;
    padding-left: 0px;
    font-size: 1rem;
  }

  .list-item-4 {
    background-size: auto 1.5rem;
    background-attachment: scroll;
    font-size: 1.125rem;
  }

  .text-block-7 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 767px) {
  .bg-alternate.navsection {
    min-height: 60px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .bg-placeholder.candoplaceholder {
    width: 75%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
  }

  .bg-placeholder.heroplaceholder {
    margin-bottom: 60px;
  }

  .div-block.paradiv {
    margin-top: 0px;
  }

  .navbar {
    width: 100%;
  }

  .heading.pageheader {
    font-size: 3rem;
  }

  .heading.featureheader.primary1 {
    line-height: 1.25rem;
  }

  .heading.featureheader.neutral1 {
    margin-top: 0px;
    line-height: 1.25rem;
  }

  .text-block.neutral1 {
    margin-bottom: 20px;
  }

  .nav-link-2 {
    display: inline-block;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 1rem;
  }

  .nav-link-4.primary1 {
    min-width: 75px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1rem;
  }

  .nav-link-4.primary1 {
    display: block;
  }

  .nav-link-5.primary1 {
    display: inline-block;
  }

  .button {
    display: none;
    min-width: 75px;
    font-size: 1rem;
  }

  .image {
    width: 40%;
  }

  .div-block-5 {
    width: 75%;
  }

  .div-block-9.herosection {
    padding-top: 20px;
  }

  .brand {
    width: auto;
    padding-left: 0px;
  }

  .brand.w--current {
    width: 100%;
  }

  .nav-menu {
    position: static;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    display: block;
    width: 30%;
    padding-right: 0px;
    float: right;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    background-color: #dceefb;
  }

  .image-3 {
    width: 80px;
    max-width: 60%;
  }

  .grid-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .grid-2.pricingcolumnsgrid {
    width: 500px;
    grid-auto-flow: column;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-3 {
    grid-auto-flow: row;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .grid-4 {
    justify-items: stretch;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    grid-auto-flow: column;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
  }

  .div-block-12 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .menu-button {
    display: none;
  }

  .image-4 {
    max-width: 60%;
  }

  .div-block-13 {
    width: 100%;
    text-align: left;
  }

  .div-block-13.screenshot {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
  }

  .list-2.privacypolicy {
    padding-left: 60px;
  }

  .navbargroupdiv {
    display: none;
  }

  .icon {
    color: #dceefb;
  }

  .div-block-23 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

@media screen and (max-width: 479px) {
  .bg-white {
    padding-right: 20px;
    padding-left: 20px;
  }

  .bg-alternate {
    padding-right: 10px;
    padding-left: 10px;
  }

  .bg-alternate.navsection {
    padding-right: 10px;
    padding-left: 10px;
  }

  .bg-alternate.primary1 {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer.bg-footer {
    padding-top: 40px;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .bg-placeholder.candoplaceholder {
    text-align: center;
  }

  .div-block.pricingcolumn.subscriptioncolumn {
    min-height: 180px;
  }

  .navbar {
    width: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .heading.pageheader {
    font-size: 1.7rem;
    line-height: 2rem;
  }

  .heading.pageheader.primary1.pricing {
    font-size: 1rem;
  }

  .heading.pageheader.primary1.releasenotes {
    font-size: 1.75rem;
  }

  .heading.featureheader.primary1 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .heading.featureheader.neutral1 {
    font-size: 1rem;
    text-align: left;
  }

  .heading.featureheader.neutral1.featuresgrid {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .text-block.primary1 {
    font-size: 1rem;
  }

  .text-block.primary1.herobody {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .text-block.neutral1 {
    margin-bottom: 0px;
    font-size: 1rem;
    line-height: 1.3125rem;
  }

  .div-section-header.collecting {
    margin-bottom: 40px;
  }

  .nav-link-5.primary1 {
    display: block;
  }

  .text-block-2.secondarycolour.tertiaryheading.neutral1 {
    margin-top: 10px;
  }

  .div-block-3.logodiv {
    width: 100%;
    min-width: 80px;
  }

  .button {
    display: none;
    text-align: left;
  }

  .image {
    position: static;
    width: 40%;
    height: auto;
    max-width: none;
    margin-top: 19px;
  }

  .div-block-5 {
    display: block;
    width: 80%;
    max-height: 230px;
  }

  .div-block-6 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-7.rightbutton {
    width: 100%;
    padding-left: 0px;
  }

  .div-block-9.herosection {
    padding-right: 0px;
    padding-left: 0px;
  }

  .image-2 {
    width: 25%;
    margin-right: 0px;
  }

  .brand {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    padding-left: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .nav-menu {
    position: relative;
    width: 10%;
    background-color: #dceefb;
    text-align: left;
  }

  .grid {
    margin-right: 20px;
    margin-left: 20px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr auto auto;
    grid-template-rows: 1fr auto auto;
  }

  .image-3 {
    max-width: 30%;
    text-align: left;
  }

  .grid-2 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .grid-2.pricingcolumnsgrid {
    width: 100%;
  }

  .grid-2.releasenoteslegend {
    grid-auto-flow: column;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .grid-3 {
    margin-right: 10px;
    margin-left: 10px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .grid-4 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .div-block-12.paylogos {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .menu-button {
    position: static;
    display: block;
    width: 50px;
    clear: none;
    color: #0f609b;
  }

  .menu-button:active {
    background-color: #bcccdc;
  }

  .image-4 {
    max-width: 30%;
  }

  .div-block-13 {
    text-align: center;
  }

  .heading-2.comingsoon {
    margin-top: 20px;
  }

  .grid-5 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .releasenoteslegendicon {
    max-width: 3rem;
  }

  .releasecontainer.releasewhite {
    padding-right: 10px;
    padding-left: 10px;
  }

  .releasecontainer.releaseblue {
    padding-right: 10px;
    padding-left: 10px;
  }

  .releaseheading {
    text-align: center;
  }

  .releasedatetext {
    text-align: center;
  }

  .releasesectionheading {
    font-size: 1.3125rem;
    line-height: 1.75rem;
    text-align: center;
  }

  .releaseitemdiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .releasenoteitemcategory {
    display: block;
    max-width: 3rem;
    margin-bottom: 10px;
  }

  .releasenoteitemdescription {
    display: block;
    margin-top: 10px;
    margin-left: 20px;
  }

  .termsconditionslink {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .list-2 {
    padding-left: 40px;
  }

  .list-2.privacypolicy {
    padding-left: 20px;
  }

  .div-block-22 {
    text-align: center;
  }

  .navbargroupdiv {
    display: none;
  }

  .text-block-5 {
    font-size: 1rem;
    line-height: 1.3125rem;
  }

  .text-block-5.pullquote {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .text-block-5.pullquoteauthor {
    font-size: 0.875rem;
  }

  .list-3 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .list-item-4 {
    font-size: 1rem;
    line-height: 1.3125rem;
  }

  .text-block-7 {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1rem;
    text-align: center;
  }
}

#w-node-75d41dd9f4e9-299e3753 {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-7faebe8e3f82-059e3756 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: auto;
  justify-self: auto;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-902987e1d4b7-059e3756 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: auto;
  justify-self: auto;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-7faebe8e3f82-c29e3758 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: auto;
  justify-self: auto;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-239aaef05a96-c29e3758 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-cd8db4a8961d-c29e3758 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column-align: auto;
  justify-self: auto;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-59fbd07297eb-c29e3758 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 991px) {
  #w-node-b7e19dd9b749-299e3753 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-51818aa14a78-299e3753 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-7624bd093ad1-299e3753 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 767px) {
  #w-node-2d5cd3beb4d5-299e3753 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }

  #w-node-97bc7fb86455-299e3753 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-5c724d732f4d-299e3753 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-row: 3;
    grid-row-start: 3;
  }

  #w-node-eda68d12aad1-299e3753 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
    -ms-grid-row: 4;
    grid-row-start: 4;
  }

  #w-node-f59694f87075-299e3753 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 7;
    -ms-grid-row: 6;
    grid-row-start: 6;
  }

  #w-node-55dea4e2013e-299e3753 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
    -ms-grid-row: 5;
    grid-row-start: 5;
  }

  #w-node-f885aa2e70a8-299e3753 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 8;
    -ms-grid-row: 7;
    grid-row-start: 7;
  }

  #w-node-756a7462b322-299e3753 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 9;
    -ms-grid-row: 8;
    grid-row-start: 8;
  }

  #w-node-902987e1d4b7-059e3756 {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-51818aa14a78-299e3753 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }

  #w-node-902987e1d4b7-059e3756 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-239aaef05a96-c29e3758 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }

  #w-node-59fbd07297eb-c29e3758 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
}

